<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>🎬 CineMind - Content-Based Recommendations</h1>

<form method="get">
  <label for="movieId">Choose a movie:</label>
  <select name="movieId">
    {% for movie in movies %}
      <option value="{{ movie.movieId }}">{{ movie.title }}</option>
    {% endfor %}
  </select>
  <button type="submit">Get Recommendations</button>
</form>

{% if recommendations %}
  <h2>Recommended Movies:</h2>
  <ul>
    {% for _, row in recommendations.iterrows %}
      <li>{{ row['title'] }}</li>
    {% endfor %}
  </ul>
{% endif %}

</body>
</html>